@charset "utf-8"; 
body {
  font-family: 'Pretendard Variable','Malgun Gothic', sans-serif;
  color: white;
  background-color: #000;
  height: 500vh;
}

.header {
  background-color: transparent;
  position: sticky;
  top: 0;
  margin-bottom: 1px;
}

.h_top1 {
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
}

.h_top1 li:nth-child(1) {
  width: 32px;
}
.h_top1 li:nth-child(2) {
  width: 32px;
  color: #ea5028;
}
.h_top_pc {
  display: none;
}
.nav_icon {
  margin-top: 15px;
  display: block;
  width: 25px;
  height: 2.2px;
  background-color: #ea5028;
  position: relative;
}
.nav_icon::after {
  content: "";
  width: 15px;
  height: 2.2px;
  background-color: #ea5028;
  position: absolute;
  top: -9px;
}
.nav_icon::before {
  content: "";
  width: 15px;
  height: 2.2px;
  background-color: #ea5028;
  position: absolute;
  top: 9px;
  left: 10px;
}
.h_txt {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 20px;
}
.h_txt h1 {
  font-size: 3.4rem;
}
.h_txt h1#color {
  color: #ea5028;
}
.h_txt p {
  font-weight: 200;
  font-size: 3.3rem;
}

.meteor {
  transition: 1s;
}

.meteor img {
  width: 20%;
  transform: rotate(15deg);
  position: relative;
}
.meteor img:nth-child(1) {
  left: 45%;
  width: 55px;
}
.meteor img:nth-child(2) {
  left: 55%;
  width: 65px;
}
.meteor img:nth-child(3) {
  left: 50%;
  top: 105px;
  width: 50px;
}
.meteor img:nth-child(4) {
  left: 15%;
  top: 40px;
  width: 90px;
}


.h_img img:nth-child(1) {
  width: 240px;
  position: relative;
  top: 80px;
  left: 15px;
}
.h_img img:nth-child(2) {
  width: 100%;
  display: block;
}
/* main */


/* footer */


/* pc */

@media (width >= 1200px) {
  .h_top {
    display: none;
  }
  .h_top_pc {
    padding: 2% 7% 5%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .h_top_pc img {
    width: 70px;
  }
  
  .h_menu ul{
    display: flex;
    justify-content: space-evenly;
  }
  .h_menu ul li{

    margin: 15% 15%;
    padding-bottom: 5%;
    color: #ea5028;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 500;
  }
  .h_menu ul li a {
    padding: 5%;
  }
  .h_menu ul li a:hover {
    border-bottom: 5px solid #ea5028;
  }

  .h_img img#h2 {
    display: none;
  }
  .h_img img#h3 {
    position: fixed;
    width: 100%;
  }

  .h_txt {
    margin-left: 10%;
  }
  .h_txt h1 {
    font-size: 5.4rem;
  }
  .h_txt h1#color {
    color: #ea5028;
  }
  .h_txt p {
    font-weight: 200;
    font-size: 5.3rem;
  }

  .nav_icon {
    margin-top: 30px;
    display: block;
    width: 40px;
    height: 4px;
    background-color: #ea5028;
    position: relative;
  }
  .nav_icon::after {
    content: "";
    width: 20px;
    height: 4px;
    background-color: #ea5028;
    position: absolute;
    top: -13px;
  }
  .nav_icon::before {
    content: "";
    width: 20px;
    height: 4px;
    background-color: #ea5028;
    position: absolute;
    top: 13px;
    left: 32px;
  }
  
}

